* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
    font-family: "Helvetica Neue", sans-serif;
    font-style: normal;
    scroll-behavior: smooth;
    transition: all 0.5s;
    overflow-x: hidden;
    line-height: 2.85rem;
  }
  
  body {
    margin: 0 auto;
    padding: 0 auto;
    overflow-x: hidden;
    background: #292D41;
  }
  
  *::selection {
    background: rgb(153, 28, 153);
  }

  /* header */
  .header_logo{
      width: 2.96rem;
      height: 6rem;
      position: absolute;
      left: 4rem;
      top:5.8rem;
  }
/* Redemptive Technology */
.header_logo_txt{
    width: 26.7rem;
    height: 2.9rem;
    position: absolute;
    left: 7.7rem;
    top: 7.3rem;
    font-family: Helvetica Neue;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.9rem;
    color: #F8C751;
}
.header_btn{
    background-color: transparent;
    width: 17.1rem;
    height: 5.6rem;
    border-radius: 7.5rem;
    border: solid 2px #F8C751;
    font-size: 2.4rem;
    color: #F8C751;
    position: absolute;
    top: 6.9rem;
    right: 8rem;
    cursor: pointer;
    
}
.header_intro{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header_intro{
    width: 175.684rem;
    height: 70.2rem;
    background-image: url("./icons/Group1-1.svg");
    background-repeat: no-repeat;
}
.hero{
    width: 100vw;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header_hero_h{
    width: 77rem;
    height: 8.8rem;
    font-family: Helvetica Neue;
    font-weight: bold;
    font-size: 7.2rem;
    line-height: 8.8rem;
    color: #FFFFFF;
}
.header_hero_p{
    width: 69.1rem;
    height: 11.6rem;
    font-family: Helvetica Neue;
    font-weight: normal;
    font-size: 2.4rem;
    line-height: 2.9rem;
    text-align: center;
    color: #9AA1B8;
}
.header_hero_btn{
    width: 35rem;
    height: 6rem;
    background-color: #F8C751;
    border-radius: 0.5rem;
    margin-top: 3rem;
    border: none;
    cursor: pointer;
}
.header_hero_btn a{ 
    font-family: Helvetica Neue;
    font-weight: bold;
    font-size: 3.2rem;
    line-height: 3.9rem;
    align-items: center;
    text-align: center;
    color: #292D41;
    text-decoration: none;
}

/* grid */
.about{
    /* height: 100rem; */
    /* background-color: red; */

}
.about_grid_container{
    display: flex;
    margin-left: 8rem;
    padding-right: 8rem;

}
.about_grid{
    margin-left: 3rem;
}
.about_grid:first-child{
    margin-left: 0;
}
.about_h2{
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.9rem;
    color: #FFFFFF;
}
.about_txt{
    font-weight: normal;
    font-size: 2.4rem; /* TODO: make sure this is the right size*/
    line-height: 2.9rem;
    color: #9AA1B8;
    margin-top: 2rem;
}
.about_grid_icon{
    width: 10rem;
    height: 10rem;
}
.who_we_are_bg {
    background-image: url(./icons/LooperBG.svg);
    background-repeat: no-repeat;
    background-position: right;
}
.who_we_are{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;

}
.who_we_are_h{    
    font-weight: bold;
    font-size: 4rem;
    line-height: 4.9rem;
    color: #FFFFFF;
    text-align: center;
}

.who_we_are_txt{
    font-weight: normal;
    font-size: 3.2rem;
    line-height: 3.8rem;
    color: #D5D8E2;
    margin-bottom: 5rem;
    text-align: center;
}


/* our service */
.our_service_container{
    padding: 5rem 0;
    margin-left:8rem;
    display: flex;
    justify-content: space-between;
}

.our_service{
    margin: 0;
}
.our_service_mid{
    margin-left: 8rem;
    margin-right: 3rem;
}
.center_icon{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
.our_service_icon_mid{
   
}
.our_service_h{
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.4rem;
    color: #9AA1B8;
}
.our_service_title{
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.9rem;
    color: #FFFFFF;
    margin: 1rem 0 2rem 0;
}
.our_service_txt{
    font-style: normal;
    font-weight: normal;
    font-size: 2.4rem;
    line-height: 2.9rem;
    color: #9AA1B8;
    width: 56.6rem;
    height: 8.7rem;
}
.our_service_grid{
    width: 17.7rem;
    height: 15.8rem;
}

/* footer */

.footer_box{
    height: 22.2rem;
    background:  linear-gradient(88.88deg, #F8C751 0%, #F0AD0A 93.34%);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15rem 8rem 5rem 8rem;
}

.footer_box_txt{
    font-style: normal;
    font-weight: bold;
    font-size: 3.2rem;
    line-height: 3.9rem;
    color: #000000;
}

.footer_box_btn{
    background: #FBFBFB;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 35rem;
    height: 6rem;
    border: none;
    cursor: pointer;
}
.footer_box_btn a{
    font-style: normal;
    font-weight: bold;
    font-size: 3.2rem;
    line-height: 3.9rem;
    color: #F8C751;
    text-decoration: none;
}
.footer_contact{
    margin-right: 8rem;
    display: flex;
    justify-content: space-between;

}
.footer_logo_container, .footer_contact_social_media{ margin: 0;}
.footer_contact_social_media{
    /* margin-right: 18rem; */
    text-align: center;
    width: 35rem;
}
.contact_us{
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.9rem;
    margin-bottom: 2rem;
    color: #FBFBFB;
}
.footer_logo_container{  margin-left: 8rem;  }
.footer_logo{
    width: 2.896rem;
    height: 6rem;   
}
.footer_h{
    position: relative;
    top: -6.3rem;
    left: 4rem;
    font-style: normal;
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 3.9rem;
    color: #F8C751;

}
.footer_logo_txt{
    width: 43.4rem;
    height: 8.7rem;
    font-style: normal;
    font-weight: normal;
    font-size: 2.4rem;
    line-height: 2.9rem;
    color: #9AA1B8;
    position: relative;
    top:-4rem;
    left: 4rem;

}
.footer_social_media{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 18rem;
}
.footer_icon{
    width: 2.4rem;
    height: 2.4rem;
    margin: 0;
    cursor: pointer;
}
.footer_copyright{
    margin-bottom: 7rem;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.4rem;
    /* identical to box height */
    text-align: center;
    color: #9AA1B8;
}

.yellow {
    color: #F8C751;
}
.footer_logo_txt_mob{
    display: none;
}

@media only screen and (max-width: 1280px) {
   .footer_box_txt{
       font-size: 2.6rem;
   }
   .footer_box_btn{
    width: 25rem;
    }
    .footer_box_btn a{
        font-size: 2.6rem;
    }
    .footer_contact_social_media{
        width: 30rem;
    }
} 
@media only screen and (max-width: 1150px) {
    html{
        font-size: 52.5%;
    }
    .footer_contact_social_media{
        width: 38rem;
    }
}
@media only screen and (max-width: 1050px) {
     .footer_contact_social_media{
         width: 35rem;
     }
 } 
 @media only screen and (max-width: 950px) {
    .footer_contact_social_media{
        width: 25rem;
    }
    .our_service_mid{
        margin-left: 4rem;
    }
    .about_grid_container{
        margin-left: 4rem;
    
    }
    .footer_logo_container{  margin-left: 4rem;  }
    .our_service_container{
        margin-left: 4rem;
    }
    .footer_box{
        margin: 5rem 4rem;
    }
    .header_btn{
        right: 4rem;
    }
    .about_grid_container{
        padding-right: 4rem;
    }
    .our_service_mid{
        margin-right: 1rem;
    }
    .about_grid{
        margin-left: 2rem;
    }
} 
@media only screen and (max-width: 850px){
    .about_grid_container{
        flex-direction: column;
    }
    .about_grid{
        margin-left: 0rem;
        text-align: center;
        margin-top: 5rem;
    }
    .about_grid:first-child{
        margin-top: -5rem;

    }
    .our_service_container{
        flex-direction:column-reverse;
        margin-left: 0;
        padding: 0 4rem;
    }
    .our_service_mid{
        flex-direction:column;
 
    }
    .center_icon{
        width: 100%;
        padding:4rem;
    }
    .our_service_h{
        width: 100%;
        text-align: center;
    }
    .our_service_title{
        width: 100%;
        text-align: center;
    }
    .our_service_txt{
        width: 100%;
        text-align: center;
    }
    .our_service_mid{
        margin-left: 0rem;
    }
    .footer_box{
        flex-direction: column;
    }
    .footer_box_txt{
        margin-bottom: 2rem;
    }
    .footer_contact{
        flex-direction: column;
        margin-right: 0;
    }
    .footer_logo_container{
       width: 50rem;
       position: relative;
       left: 50%;
       transform: translateX(-25rem);
    }
  
    .footer_logo_txt_mob{
        display: block;
        width: 100%;
        height: 8.7rem;
        font-style: normal;
        font-weight: normal;
        font-size: 2.4rem;
        line-height: 2.9rem;
        color: #9AA1B8;
        text-align: center;
        padding: 0 4rem;
        margin-top: -2rem;
    }
    .footer_logo_txt{
        display: none;
    
    }
    .footer_contact_social_media{
        width: 100%;
        margin-bottom: 4rem
    }
    .footer_copyright{
        margin-bottom: 4rem;
    }
    .who_we_are_h{
        font-size: 3.3rem;
    }
}
@media only screen and (max-width: 700px){
    html{
        font-size: 45%;
    }

}
@media only screen and (max-width: 600px){
    .header_hero_h{
        font-size: 6rem;
        text-align: center;
        padding: 0 3rem;
        left: 0;

    }
    .who_we_are_h{
        font-size: 2.8rem;
    }
    .who_we_are_txt{
        font-size: 2.8rem;
    }
}
@media only screen and (max-width: 550px){
    .header_hero_h{
        font-size: 5rem;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .header_hero_p{
        width: 50rem;
        height: 18rem;
    }
    .footer_box{
        text-align: center;
    }
    .footer_box{
        padding: 0 2rem;
    }
    .center_icon{
        padding: 6rem;
    }
}

@media only screen and (max-width: 450px){
    .header_logo_txt{
        display: none;
    }
    .header_hero_h{
        font-size: 4rem;
       
    }
        .footer_logo_txt_mob{
            height: 11rem;
        }
        .header_hero_p{
            padding:  0 5rem;
            height: 22rem;

        }
}

@media only screen and (max-width: 400px){
    html{
        font-size: 40%;
    }
    .header_hero_h{
        padding: 0 4rem;
        font-size: 3rem;
    }
    .header_hero_p{
        padding: 0 1rem;
    }
    .who_we_are_h{
        padding: 0 4rem;
        font-size: 2.5rem;

    }
    .who_we_are_txt{
        padding: 0 4rem ;
        font-size: 2.5rem;
     }
     .header_hero_btn {
        width: 30rem;
     }
     .header_hero_btn a{
         font-size: 2.5rem;
     }
}
@media only screen and (max-width: 325px){
    html{
        font-size: 37%;
    }
}

/* .hover{
    cursor: pointer;
} */
